# Part 2: Using DDL to create relations in postgres server

Using the entity relationship diagram developed in Part 1 as a guide, tables can now be created to begin loading data into the tables.

For this section SQLAlchemy will be utilized.

## Connecting to the database and using sqlalchemy to create tables

CREATE TABLE steinn.case_location (
id INT PRIMARY KEY,
case_number OBJECT FOREIGN KEY,
block OBJECT,
updated_on DATETIME,
beat INT,
district INT,
ward FLOAT,
community_area FLOAT
location_description FLOAT
);

CREATE TABLE steinn.case_coordinates (
block OBJECT PRIMARY KEY,
latitude FLOAT,
longitude FLOAT
);

CREATE TABLE steinn.case_information (
case_number OBJECT PRIMARY KEY,
IUCR OBJECT FOREIGN KEY,
fbi_code OBJECT FOREIGN KEY,
date OBJECT,
arrest BOOL,
domestic BOOL
);

CREATE TABLE steinn.case_reporting(
IUCR OBJECT PRIMARY KEY,
fbi_code OBJECT PRIMARY KEY,
description OBJECT,
primary_type OBJECT
);

In [1]:
# connection to dsa_student database
import getpass
database = input("Type Database name and hit enter:: ")

Type Database name and hit enter:: dsa_student

In [2]:
username = input("Type Username name and hit enter:: ")

Type Username name and hit enter:: steinn

In [3]:
password = getpass.getpass("Type Password and hit enter:: ")

Type Password and hit enter:: ········

In [4]:
connectionstring = 'postgresql://'+username+':'+password+'@pgsql.dsa.lan/'+database

## Creating Tables

In [5]:
#Going to use sqlalchemy =
import sqlalchemy
import pandas as pd
from sqlalchemy import event
from sqlalchemy import Table, Column, Integer, String, Boolean, MetaData, ForeignKey, DateTime, Float, ForeignKeyConstraint

#creating engine
engine = sqlalchemy.create_engine((connectionstring), echo = False)

@event.listens_for(engine, 'before_cursor_execute')
def receive_before_cursor_execute(conn, cursor, statement, params, context, executemany):
    if executemany:
        cursor.fast_executemany = True
        cursor.commit()

In [6]:
# using sqlalchemy to create tables
meta = MetaData()

case_information = Table(
    'case_information', meta,
    Column('id', Integer, primary_key = True),
    Column('case_number', String),
    Column('arrest', Boolean),
    Column('domestic', Boolean),
    Column('date', DateTime),
    Column('updated_on', DateTime),
    Column('location_id', Integer, ForeignKey('case_location.location_id')),
    Column('IUCR', String),
    Column('fbi_code', String),
    ForeignKeyConstraint(['IUCR', 'fbi_code'], ['case_reporting.IUCR', 'case_reporting.fbi_code'])
)

case_reporting = Table(
    'crime_code', meta,
    Column('IUCR', String, primary_key = True),
    Column('fbi_code', String, primary_key = True),
    Column('description', String),
    Column('primary_type', String),
)

case_location = Table(
    'case_location', meta,
    Column('location_id', Integer, primary_key = True),
    Column('district', Integer),
    Column('beat', Integer),
    Column('block', String),
    Column('ward', Float),
    Column('community_area', Float),
    Column('location_description', String),
    Column('latitude', Float),
    Column('longitude', Float),
)

In [7]:
meta.create_all(engine)

## Showing table definitions

dsa_student=> \d case_location
                       Table "steinn.case_location"
        Column        |       Type       | Collation | Nullable | Default
----------------------+------------------+-----------+----------+---------
 location_id          | bigint           |           |          |
 district             | bigint           |           |          |
 beat                 | bigint           |           |          |
 block                | text             |           |          |
 ward                 | double precision |           |          |
 community_area       | double precision |           |          |
 location_description | text             |           |          |
 latitude             | double precision |           |          |
 longitude            | double precision |           |          |

dsa_student=> \d case_reporting
            Table "steinn.case_reporting"
    Column    | Type | Collation | Nullable | Default
--------------+------+-----------+----------+---------
 IUCR         | text |           |          |
 fbi_code     | text |           |          |
 description  | text |           |          |
 primary_type | text |           |          |

dsa_student=> \d case_information
                      Table "steinn.case_information"
   Column    |            Type             | Collation | Nullable | Default
-------------+-----------------------------+-----------+----------+---------
 id          | bigint                      |           |          |
 case_number | text                        |           |          |
 arrest      | boolean                     |           |          |
 domestic    | boolean                     |           |          |
 date        | timestamp without time zone |           |          |
 updated_on  | timestamp without time zone |           |          |
 IUCR        | text                        |           |          |
 fbi_code    | text                        |           |          |
 location_id | bigint                      |           |          |

## Preparing and loading data to tables

In [8]:
# load in dataset
pd.options.mode.chained_assignment = None 
datapath = "Crimes_2012.csv"
df = pd.read_csv(datapath, index_col = False)

In [9]:
#renaming columns to make things easier like getting rid of spaces
df = df.rename(columns = {'ID': 'id', 'Case Number': 'case_number', 'Date': 'date', 'Block': 'block',
              'Primary Type': 'primary_type', 'Description': 'description', 'Location Description': 'location_description',
              'Arrest': 'arrest', 'Domestic': 'domestic', 'Beat': 'beat', 'District': 'district', 'Ward': 'ward',
              'Community Area': 'community_area', 'FBI Code': 'fbi_code', 'X Coordinate': 'x_coordinate',
              'Y Coordinate': 'y_coordinate', 'Year': 'year', 'Updated On': 'updated_on', 'Latitude': 'latitude',
              'Longitude': 'longitude', 'Location': 'location'})

In [10]:
#removing columns I won't need
df = df.drop(['location', 'year', 'x_coordinate', 'y_coordinate'], axis = 1)

## case_location relation subsetting and loading

In [25]:
# dataframe subset for case_location relation
case_location_df = df[['district', 'beat', 'block', 'ward', 'community_area', 'location_description', 'latitude', 'longitude']]

In [27]:
# crop duplicates form case_location_df
case_location_df = case_location_df.drop_duplicates()

In [28]:
# inserting location_id column
case_location_df.insert(0, 'location_id', range(1, 1+len(case_location_df)))

In [31]:
case_location_df

,location_id,district,beat,block,ward,community_area,location_description,latitude,longitude
0,1,14,1414,028XX W BELDEN AVE,1.0,22.0,RESIDENCE,NaN,NaN
1,2,10,1012,045XX W CERMAK RD,24.0,29.0,OTHER (SPECIFY),NaN,NaN
2,3,9,922,031XX W 44TH ST,15.0,58.0,RESIDENCE,NaN,NaN
3,4,22,2234,107XX S MORGAN ST,34.0,75.0,RESIDENCE,NaN,NaN
4,5,20,2012,017XX W BERWYN AVE,40.0,77.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
336144,244513,4,421,076XX S COLFAX AVE,7.0,43.0,APARTMENT,41.756505,-87.561474
336145,244514,7,722,067XX S PERRY AVE,6.0,69.0,STREET,41.772012,-87.628344
336146,244515,12,1212,010XX N HONORE ST,1.0,24.0,RESIDENCE,41.900421,-87.673514
336147,244516,10,1024,019XX S DRAKE AVE,24.0,29.0,APARTMENT,41.854248,-87.713694
336148,244517,25,2521,045XX W WRIGHTWOOD AVE,31.0,20.0,RESIDENCE,41.928606,-87.740772

In [42]:
df = pd.merge(case_location_df, df, on = ['location_id', 'district', 'beat', 'block', 'ward', 'community_area', 'location_description', 'latitude', 'longitude'])

In [50]:
#saving to csv
case_location_df.to_csv('case_location_df.csv')

In [51]:
# load into the database
case_location_df.to_sql('case_location', con = engine, chunksize = 100, index = False, if_exists = 'replace', method = 'multi')

## case_information relation subsetting and loading

In [43]:
# dataframe subset for case_information relation
case_information_df = df[['id', 'case_number', 'arrest', 'domestic', 'date', 'updated_on', 'IUCR', 'fbi_code', 'location_id']]

In [44]:
# drop duplicates
case_information_df = case_information_df.drop_duplicates()

In [45]:
case_information_df

,id,case_number,arrest,domestic,date,updated_on,IUCR,fbi_code,location_id
0,12236659,JD449284,False,False,11/27/2012 06:00:00 PM,12/05/2020 03:46:44 PM,0266,02,1
1,12214909,JD424223,False,False,09/15/2012 01:30:00 PM,12/05/2020 03:44:06 PM,0620,05,2
2,12235566,JD447838,False,False,01/01/2012 12:01:00 AM,12/03/2020 03:51:39 PM,1752,17,3
3,12234792,JD447109,False,False,12/07/2012 12:00:00 PM,12/02/2020 03:56:38 PM,1153,11,4
4,10840492,JA143650,False,False,10/18/2012 09:00:00 AM,02/07/2017 03:53:30 PM,1153,11,4
...,...,...,...,...,...,...,...,...,...
336144,9984444,HY173771,False,False,10/11/2012 06:00:00 AM,02/10/2018 03:50:01 PM,1153,11,244513
336145,9987208,HY177204,False,False,12/15/2012 09:00:00 AM,02/10/2018 03:50:01 PM,0910,07,244514
336146,9990541,HY180702,False,False,02/07/2012 09:00:00 AM,02/09/2018 03:44:29 PM,1153,11,244515
336147,9991722,HY181590,False,False,04/01/2012 12:01:00 AM,02/09/2018 03:44:29 PM,1153,11,244516
336148,9998136,HY188115,False,False,01/01/2012 09:00:00 AM,02/09/2018 03:44:29 PM,1153,11,244517

In [46]:
# change 'date' column to datetime
case_information_df['date'] = pd.to_datetime(case_information_df['date'])

In [48]:
# using to_datetime on updated_on columns
case_information_df['updated_on'] = pd.to_datetime(case_information_df['updated_on'])

In [49]:
#saving to csv
case_information_df.to_csv('case_information_df.csv')

In [52]:
# load into the database
case_information_df.to_sql('case_information', con = engine, chunksize = 1000, index = False, if_exists = 'replace', method = 'multi')

## case_reporting relation subsetting and loading

In [11]:
# there exist primary types of different spelling that need to be taken care of
case_reporting_check = df.groupby(['IUCR', 'fbi_code', 'primary_type']).size()  

print(f"num of triplets = {case_reporting_check.shape[0]}")

count = 0
for x, y in case_reporting_check.groupby(level=[0,1]):
    if y.shape[0] > 1:
        if count < 5:  # show the first 5 patterns
            print("-" * 20)
            print(x)
            print(y)
        count +=1 
print(f"#iucr, fbi code mapped to multiple primary types = {count}")

num of triplets = 332
--------------------
('0261', '02')
IUCR  fbi_code  primary_type
0261  02        CRIM SEXUAL ASSAULT        89
                CRIMINAL SEXUAL ASSAULT     1
dtype: int64
--------------------
('0265', '02')
IUCR  fbi_code  primary_type
0265  02        CRIM SEXUAL ASSAULT        216
                CRIMINAL SEXUAL ASSAULT      3
dtype: int64
--------------------
('0266', '02')
IUCR  fbi_code  primary_type
0266  02        CRIM SEXUAL ASSAULT        148
                CRIMINAL SEXUAL ASSAULT      8
dtype: int64
--------------------
('0281', '02')
IUCR  fbi_code  primary_type
0281  02        CRIM SEXUAL ASSAULT        786
                CRIMINAL SEXUAL ASSAULT     10
dtype: int64
#iucr, fbi code mapped to multiple primary types = 4

In [18]:
case_reporting_check2 = df.groupby(['IUCR', 'fbi_code', 'description']).size()  

print(f"num of triplets = {case_reporting_check2.shape[0]}")

count = 0
for x, y in case_reporting_check2.groupby(level=[0,1]):
    if y.shape[0] > 1:
        if count < 5:  # show the first 5 patterns
            print("-" * 20)
            print(x)
            print(y)
        count +=1 
print(f"#iucr, fbi code mapped to multiple description = {count}")

num of triplets = 337
--------------------
('0261', '02')
IUCR  fbi_code  description
0261  02        AGGRAVATED - HANDGUN     1
                AGGRAVATED: HANDGUN     89
dtype: int64
--------------------
('0265', '02')
IUCR  fbi_code  description
0265  02        AGGRAVATED - OTHER      3
                AGGRAVATED: OTHER     216
dtype: int64
--------------------
('031A', '03')
IUCR  fbi_code  description
031A  03        ARMED - HANDGUN       3
                ARMED: HANDGUN     4881
dtype: int64
--------------------
('041A', '04B')
IUCR  fbi_code  description
041A  04B       AGGRAVATED - HANDGUN      13
                AGGRAVATED: HANDGUN     1846
dtype: int64
--------------------
('0840', '06')
IUCR  fbi_code  description
0840  06        FINANCIAL ID THEFT: OVER $300          3281
                FINANCIAL IDENTITY THEFT: OVER $300       1
dtype: int64
#iucr, fbi code mapped to multiple description = 9

In [12]:
a = {'CRIMINAL SEXUAL ASSAULT': 'CRIM SEXUAL ASSAULT'}
df['primary_type'] = df['primary_type'].replace(a)

In [19]:
b = {'AGGRAVATED - HANDGUN': 'AGGRAVATED: HANDGUN'}
c = {'AGGRAVATED - OTHER':'AGGRAVATED: OTHER'}
d = {'ARMED - HANDGUN':'ARMED: HANDGUN'}
e = {'AGGRAVATED - HANDGUN':'AGGRAVATED: HANDGUN'}
f = {'FINANCIAL ID THEFT: OVER $300':'FINANCIAL IDENTITY THEFT: OVER $300'}
df['description'] = df['description'].replace(b)
df['description'] = df['description'].replace(c)
df['description'] = df['description'].replace(d)
df['description'] = df['description'].replace(e)
df['description'] = df['description'].replace(f)

In [20]:
# dataframe subset for case_reporting relation
case_reporting_df = df[['IUCR', 'fbi_code', 'description', 'primary_type']]

In [21]:
case_reporting_df = case_reporting_df.drop_duplicates()

In [22]:
# saving to csv
case_reporting_df.to_csv('case_reporting_df.csv')

In [23]:
# load into the database
case_reporting_df.to_sql('case_reporting', con = engine, chunksize = 1000, index = False, if_exists = 'replace', method = 'multi')

## Ensure each table was loaded in correctly

In [53]:
#for case_location
with engine.connect() as connection:
    case_location_rows = pd.read_sql_query("SELECT * FROM case_location", connection)
case_location_rows

,location_id,district,beat,block,ward,community_area,location_description,latitude,longitude
0,1,14,1414,028XX W BELDEN AVE,1.0,22.0,RESIDENCE,NaN,NaN
1,2,10,1012,045XX W CERMAK RD,24.0,29.0,OTHER (SPECIFY),NaN,NaN
2,3,9,922,031XX W 44TH ST,15.0,58.0,RESIDENCE,NaN,NaN
3,4,22,2234,107XX S MORGAN ST,34.0,75.0,RESIDENCE,NaN,NaN
4,5,20,2012,017XX W BERWYN AVE,40.0,77.0,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...
244512,244513,4,421,076XX S COLFAX AVE,7.0,43.0,APARTMENT,41.756505,-87.561474
244513,244514,7,722,067XX S PERRY AVE,6.0,69.0,STREET,41.772012,-87.628344
244514,244515,12,1212,010XX N HONORE ST,1.0,24.0,RESIDENCE,41.900421,-87.673514
244515,244516,10,1024,019XX S DRAKE AVE,24.0,29.0,APARTMENT,41.854248,-87.713694
244516,244517,25,2521,045XX W WRIGHTWOOD AVE,31.0,20.0,RESIDENCE,41.928606,-87.740772

In [54]:
#for case_location
with engine.connect() as connection:
    case_information_rows = pd.read_sql_query("SELECT * FROM case_information", connection)
case_information_rows

,id,case_number,arrest,domestic,date,updated_on,IUCR,fbi_code,location_id
0,12236659,JD449284,False,False,2012-11-27 18:00:00,2020-12-05 15:46:44,0266,02,1
1,12214909,JD424223,False,False,2012-09-15 13:30:00,2020-12-05 15:44:06,0620,05,2
2,12235566,JD447838,False,False,2012-01-01 00:01:00,2020-12-03 15:51:39,1752,17,3
3,12234792,JD447109,False,False,2012-12-07 12:00:00,2020-12-02 15:56:38,1153,11,4
4,10840492,JA143650,False,False,2012-10-18 09:00:00,2017-02-07 15:53:30,1153,11,4
...,...,...,...,...,...,...,...,...,...
336144,9984444,HY173771,False,False,2012-10-11 06:00:00,2018-02-10 15:50:01,1153,11,244513
336145,9987208,HY177204,False,False,2012-12-15 09:00:00,2018-02-10 15:50:01,0910,07,244514
336146,9990541,HY180702,False,False,2012-02-07 09:00:00,2018-02-09 15:44:29,1153,11,244515
336147,9991722,HY181590,False,False,2012-04-01 00:01:00,2018-02-09 15:44:29,1153,11,244516
336148,9998136,HY188115,False,False,2012-01-01 09:00:00,2018-02-09 15:44:29,1153,11,244517

In [55]:
#for case_location
with engine.connect() as connection:
    case_reporting_rows = pd.read_sql_query("SELECT * FROM case_reporting", connection)
case_reporting_rows

,IUCR,fbi_code,description,primary_type
0,0266,02,PREDATORY,CRIM SEXUAL ASSAULT
1,0620,05,UNLAWFUL ENTRY,BURGLARY
2,1752,17,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,OFFENSE INVOLVING CHILDREN
3,1153,11,FINANCIAL IDENTITY THEFT OVER $ 300,DECEPTIVE PRACTICE
4,0281,02,NON-AGGRAVATED,CRIM SEXUAL ASSAULT
...,...,...,...,...
327,2091,18,FORFEIT PROPERTY,NARCOTICS
328,2895,26,INTERFERE W/ EMERGENCY EQUIP,PUBLIC PEACE VIOLATION
329,1531,16,JUVENILE PIMPING,PROSTITUTION
330,1710,20,ENDANGERING LIFE/HEALTH CHILD,OFFENSE INVOLVING CHILDREN
331,142B,15,UNLAWFUL SALE OTHER FIREARM,WEAPONS VIOLATION